:root{
  --bg:#f4f6f8;
  --card:#ffffff;
  --text:#1f2937;
  --input:#ffffff;
  --border:#cbd5e1;
  --primary:#1d3557;
  --danger:#e63946;
  --success:#2a9d8f;
}

body.dark{
  --bg:#0f172a;
  --card:#1e293b;
  --text:#e5e7eb;
  --input:#0f172a;
  --border:#334155;
  --primary:#60a5fa;
  --danger:#f87171;
  --success:#34d399;
}

body{
  font-family:Arial;
  background:var(--bg);
  color:var(--text);
  padding:20px;
}

.container{
  
  max-width:70%;
  margin:auto;
  /*background-image: linear-gradient(rgb(96, 196, 196),rgb(95, 34, 34));*/
  padding:25px;
  border-radius:12px;
  background: linear-gradient(
        135deg,
        rgba(0, 255, 255, 0.45),
        rgba(0, 180, 255, 0.25),
        rgba(0, 120, 255, 0.15)
    );

}

h2,h3,h4{text-align:center}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.toggle{
  background:var(--primary);
  color:#fff;
  padding:8px 12px;
  border-radius:6px;
  cursor:pointer;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
}

.buttons{
  margin-top:15px;
  display:flex;
  gap:10px;
  justify-content:center;
  flex-wrap:wrap;
}

button{
  border:none;
  padding:8px 14px;
  border-radius:6px;
  font-weight:bold;
  cursor:pointer;
}

.next{background:var(--primary);color:#fff}
.back{background:var(--danger);color:#fff}
.copy{background:var(--success);color:#fff}

.box{
  border:1px solid var(--border);
  border-radius:10px;
  padding:12px;
  margin-top:10px;
}

.box label{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:6px;
}

.box small{
  color:var(--danger);
  cursor:pointer;
}

.lista{
  margin-top:10px;
  list-style:none;
  padding:0;
}

.lista li{
  display:flex;
  justify-content:space-between;
  padding:6px;
  border-bottom:1px solid var(--border);
}

input[type="text"]{
  width:100%;
  padding:8px;
  margin-top:6px;
}

footer {
    text-align: center;
}


/* ============================= */
/* 📱 AJUSTES PARA CELULAR */
/* ============================= */
@media (max-width: 768px) {

  body {
    padding: 10px;
  }

  .container {
    max-width: 900px;
    width: 100%;
    padding: 20px;
    border-radius: 14px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .topbar {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  input,
  select,
  button {
    width: 100%;
  }

  .buttons {
    flex-direction: column;
  }

  .toggle {
    width: 100%;
    text-align: center;
  }

  footer {
    margin-top: 15px;
    font-size: 0.85rem;
  }
}
